.about {
    background-color: var(--background);
}
.about__container {
    display: flex;
    gap: 150px;
}
.about__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: white;
    border-radius: var(--rounded-base);
    max-width: 650px;
    height: 100%;
}
.about__text-title {
    font-size: 24px;
}

.about__accordion {
    color: var(--foreground);
    display: grid;
    gap: 20px;
    padding: 15px;
    background: white;
    border-radius: var(--rounded-base);
    width: 500px;
    height: 100%;
    align-self: center;
}
.about__accordion-item {
    border-radius: var(--rounded-base);
    padding: 15px;
    background: #f9ffba;
    display: flex;
    flex-direction: column;
    border-left: #94e6ff 6px solid;
    transition: all 0.2s;
    justify-content: center;
}
.accordion-item-content {
    overflow: hidden;
    height: 0;
    transition: all 0.2s;
}
.about__accordion-item:is(.is-open) {
    gap: 15px;
}
@media screen and (max-width: 1140.98px) {
    .about__container {
        flex-direction: column;
    }
    .about__accordion {
        align-self: end;
    }
}
@media screen and (max-width: 768.98px) {
    .about__accordion {
        width: 100%;
    }
}

