.footer {
    background-color: #AAF0D1;
}
.footer__container {
    padding: 20px 100px 150px;
    font-size: 18px;
}

.footer__logo{
    max-width: 80px;
}
.footer__container{
    color: #04594a;
    font-weight: 600;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
}
.footer__feedback-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__feedback {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer__navigation-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__feedback-form-input {
    border: none;
    max-height: 100%;
    padding: 16px;
    border-radius: var(--rounded-base);
}
.footer__feedback-form-input--message {
    max-width: 256px;
    width: 100%;
}
.footer__feedback-form-button {
    cursor: pointer;
    display: inline-block;
    padding: 12px 24px;
    text-align: center;
    background: #04594a;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: var(--rounded-base);
}