.header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    background: black;
    color:white ;
    padding-inline: 20px;
    align-items: center;
    width: 100%;
}
.header__navigation-menu{
    display: flex;
    gap: 30px;
}
.header__logo {
    max-width: 80px;
}