.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color:white ;
    padding-inline: 100px;
    align-items: center;
    width: 100%;
}
.header__navigation-menu{
    display: flex;
    gap: 30px;
    padding: 15px;
    background: #04594a;
    border-radius: var(--rounded-base);
}

.header__menu-item {
    transition: 250ms;
}
.header__menu-item:is(:active,:hover) {
    color: #2da225;
}
.header__logo {
    max-width: 80px;
}