.intro {
    background-image: url("https://avatars.mds.yandex.net/i?id=67d0e101b6facc5720da5ffeea431792_l-5876168-images-thumbs&n=13");
    background-size: cover;

    width: 100%;
    height: 600px;
}
.intro-text {
    padding-top: 150px;
    padding-left: 40px;
    font-size: 48px;
}
@media screen and (max-width: 768.98px) {
    .intro-text {
        font-size: 36px;
    }
}
