.road {
    padding: 30px;
    background-color: #2b1d52;
}
.road__container {
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.road-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-bottom:4px solid white; ;
}

@media screen and (max-width: 768.98px) {
    .road-list {
        border-left: 4px solid white;
        border-bottom: unset;
        grid-template-columns: 1fr;
    }
}
.road__list-item {
    font-size: 19px;
    position: relative;
    margin: 18px;
    padding: 15px;
    background: white;
    border-radius: var(--rounded-base);
    max-width: 400px;
    color: black;
    display: flex;
    flex-direction: column;
}

.road__item-title {
    text-align: center;
}

.road__list-item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #7ff7f7;
    border-radius: 50%;
    bottom: -30px;
    left: 40%;
}
@media screen and (max-width: 768.98px) {
    .road__list-item::before {
        left: -30px;
        bottom: 40%;
    }
}
