.road {
    padding: 30px;
    background-color: #1f1f1f;
}
.road__container {
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.road-list {
    display: flex;
    border-bottom: 4px solid white;
}
.road__list-item {
    position: relative;
    margin: 18px;
    padding: 10px;
    background: white;
    border-radius: var(--rounded-base);
    max-width: 400px;
    color: black;
}

.road__list-item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #08ffa4;
    border-radius: 50%;
    bottom: -30px;
    left: 40%;
}
