.skills__container {
    background-color: #17203b;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.skills-list {
    display: flex;
    gap: 25px;
    font-size: 22px;
    color: var(--primary-foreground);
}
.skills-list-item {
    padding: 10px 15px;
    background: var(--primary);
    border-radius: var(--rounded-base);
    transition: all 200ms
}
.skills-list-item:is(:hover,:active) {
    scale: 1.2;
    ;
}
