.skills__container {
    background-color: #01cb9e;
}

.skills__wrapper {
    background-color: #1D334A;
    color: white;
    padding: 50px;
    max-width: 600px;
    border-radius: var(--rounded-base);
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.skills-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.skills-list-item {
    background-color: #3a6d82;
    padding: 20px;
    border-radius: var(--rounded-base);
}

.skill-item-desc {
    display: none;
}
.skills-list-item:is(.is-open) .skill-item-desc {
    display: block;
}

.skills-list-item--blue {
    background: #91c0b0;
}
.skills-list-item--cyan {
    background: #17806D;
}